@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/* HOME PAGE styles */
.htext1 {
    top: 10em;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 4px;
    margin-top: 16rem;
}

.strong {
    font-weight: 900;
}

.cart,
.menu {
    width: 7em;
    border-radius: 0px;
    margin-left: 10px;
    margin-top: 1em;
}

.chevs {
    width: 13px;
    cursor: pointer;
}

/* ALL STYLES FOR MENU SECTION */

.leftNav {
    box-shadow: 12px 11px 15px 2px #0000007c;
    background-color: rgb(0, 0, 0);
    height: 36em;
    width: 6em;
    border-radius: 20px;
}

.menuHead {
    text-decoration: underline #F1D5BB;

}

strong {
    font-weight: 100;
}

/* #navContB {
    background-color: #F1D5BB;
    
} */
/* img{
    position: relative;
    bottom: 20px;
} */
/* .try{
    color: rgb(255, 255, 255);
    
}

.bkgIcons:hover{
    background-color: #F1D5BB;
} */
